{% extends 'tarefas/baseBuddyAbroad.html' %}
{% load static %}

{% block main %}
    <section style="padding-top: 60px;text-align: center;">
        <h2>About Buddy Abroad</h2>
        <p>What are we offering?</p>
    </section>

    <section style="padding-top: 40px;" class="aboutBa">
        <ul>
            <li>
                <div style="text-align: center;">
                    <i class="fas fa-lightbulb fa-6x"></i>
                </div>
                <p>
                    Tired of conventional travelling?
                    Experience the future of guided tours and make meaningful
                    connections with locals on your travels.
                </p>
            </li>

            <li>
                <div style="text-align: center;">
                    <i class="fas fa-camera fa-6x"></i>
                </div>
                <p>
                    Choose the perfect tour from our endless selection.
                </p>
            </li>

            <li>
                <div style="text-align: center;">
                    <i class="fas fa-head-side-mask fa-6x"></i>
                </div>
                <p>
                    Regulated group sizes for a safer Experience.
                </p>
            </li>

            <li>
                <div style="text-align: center;">
                    <i class="fas fa-cut fa-6x"></i>
                </div>
                <p>
                    Having trouble deciding between tours or want to change something to your liking? Try our
                    personalized tour system.
                </p>
            </li>

            <li>
                <div style="text-align: center;">
                    <i class="fas fa-user-friends fa-6x"></i>
                </div>
                <p>
                    Connect with local guides as they show you around and who knows? Maybe you'll make a Buddy
                    Abroad.
                </p>
            </li>

            <li>
                <div style="text-align: center;">
                    <i class="fas fa-hand-holding-usd fa-6x"></i>
                </div>
                <p>
                    Sign up as a local and make extra money showcasing your city.
                </p>
            </li>

        </ul>
    </section>
{% endblock %}

