{% extends 'tarefas/baseBuddyAbroad.html' %}
{% load static %}
<style>
    body, html, main {
        height: 100%;
        margin: 0;
    }
</style>
{% block main %}
    <body class="imageBackground">
        <section class="bannerIndex">
            <h1><span style="font-size: 2rem;">Your personal tour guide<br></span>Upgrade your<br>travelling
                experience
            </h1>
            <article>
                <p>Download the Buddy Abroad Tourist or Guide app on
                    Google
                    Play & App Store and travel like never before. Discover genuine, unique, and bespoke experiences
                    or
                    host them as a guide. <a style="color: white;text-decoration: underline;
                    " href="aboutBA.html">Find out more</a></p>
                <a href="https://play.google.com/store/apps"><img class="storeIcons"
                                                                  src="{% static 'tarefas/images/googlePlay.png' %}"
                                                                  alt="Play Store"></a>
                <a href="https://www.apple.com/pt/"><img class="storeIcons"
                                                         src="{% static 'tarefas/images/App-Store-Button-PNG.png' %}"
                                                         alt="App Store"></a>
            </article>
        </section>
    </body>
{% endblock %}

