{% extends 'tarefas/baseBuddyAbroad.html' %}
{% load static %}

{% block main %}
    <section style="padding-top: 60px;text-align: center;">
        <h2>Frequently Asked Questions</h2>
        <p>How can we help you?</p>
    </section>

    <section class="containerFAQ">
        <section class="perguntas">
            <details class="pergunta">
                <summary class="perguntas_title">Where do I download Buddy Abroad?</summary>
                <p class="perguntas_resposta">Android App - <a href="https://play.google.com/store/apps">Google
                    Play</a><br>iOS App - <a href="https://www.apple.com/pt/">App Store</a></p>
            </details>

            <details class="pergunta">
                <summary class="perguntas_title">Why should I install Buddy Abroad?</summary>
                <p class="perguntas_resposta">Buddy Abroad aims to provide a platform to those who are tired of
                    conventional tours. Join our community to engage in unique and meaningful experiences whether
                    your a guide, by creating tours on our Buddy Abroad Guide App or a tourist by Purchasing tours
                    on our
                    Buddy Abroad Tourist App.</p>
            </details>

            <details class="pergunta">
                <summary class="perguntas_title">How can I be a Buddy Abroad guide?</summary>
                <p class="perguntas_resposta">You can join our guide community by installing the Buddy Abroad Guide
                    app, filling the sign up form and you can now start creating tours!</p>
            </details>

            <details class="pergunta">
                <summary class="perguntas_title">How much do I get paid as a guide?</summary>
                <p class="perguntas_resposta">You will receive 70% of the price you established for your tour. We
                    will take care of everything for you so you can focus on the experience.</p>
            </details>

            <details class="pergunta">
                <summary class="perguntas_title">My question in not here</summary>
                <p class="perguntas_resposta">No problem! You can send us a <a href="{% url 'tarefas:contacts' %}">message.</a></p>
            </details>

        </section>
    </section>
{% endblock %}

