{% extends 'tarefas/baseBuddyAbroad.html' %}
{% load static %}

{% block main %}
    <section style="padding-top: 60px;text-align: center;">
        <h2>Data Base Graph Visualization</h2>
        <p>Graphs of user forms saved data</p>
    </section>

    <sectiona>
        <h4 style="text-align: center"><a href="{% url 'tarefas:quizzAval' %}"><strong>Quizz</strong></a> Graph</h4>
        <div style="text-align: center">
            {{ quizzGraph|safe }}
        </div>
    </sectiona>

    <br>
    <sectiona>
        <h4 style="text-align: center"><a href="{% url 'tarefas:comentarios' %}"><strong>Comments</strong></a> Graph
        </h4>
        <div style="text-align: center">
            {{ commentGraph|safe }}
        </div>
    </sectiona>

{% endblock %}

